.thumbnail {
    padding: 0 0 0 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
   
}
            .slideanim {visibility:hidden;}
.slide {
   
    animation-name: slide;
    -webkit-animation-name: slide;
   
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
   
    visibility: visible;
}


@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
            
            .carousel-control.right, .carousel-control.left {
    background-image: none;
    
}
    .navbar-nav li a:hover, .navbar-nav li.active a {
   
    background-color: lightgray !important;
}


          .carousel
            {
                
               
                padding-bottom: 120px;
                
            }
            .carousel .item {
            
        height: 250px;
         
                
}
            .item h4 {
    font-size: 1.75em;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    font-family:Verdana, Geneva, sans-serif ;
      margin : 70px 0px;       
            
 }
    address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;}
            
    .container-fluid {
    padding : 60px 50px;
}
  

@font-face {
    font-family: myFirstFont;
    src: url(font2.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(dodger3.ttf);
}

.logo  {
    font-family: myFirstFont;
}

.myfont
{
    
     font-family: mySecondFont;
    
}

.myfont2
{
    
     font-family: myFirstFont;
    
}

